html {
    font-family: "Segoe UI Light", "Helvetica Neue", sans-serif
}

a {
    text-decoration: none;
    color: black
}

#titlebar-container {
    display: block;
    vertical-align: middle;
    line-height: 50px;
}

#titlebar {
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.15);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
    font-size: 1.5em;
    text-align: center;
    
    font-variant: small-caps;
    font-family: "Garamond", "Georgia", serif;
}

#titlebar span {
    margin-top: -50px;
    padding-bottom: 50px;
    display: block;
}

.storycard {
    display: block;
    align-content: center;
    margin: 3em auto 1.1em auto;
    min-width: 60%;
    width: 80%;
    max-width: 1080px;
    padding: 0.5em 1em;

    position: relative;
    overflow: hidden;

    border-top: 0.2em solid rgba(30, 144, 255, 1);
    border-radius: 5px;
    box-shadow: 0 1em 2em 0 rgba(0,0,0, 0.25);
    transition: 200ms ease-out;

    text-align: justify
}

.storycard ~ .storycard {
    margin: auto auto 1.1em auto;
}

.storycard:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background: rgba(30, 144, 255, 0.1);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    30% {
        transform: scale(250, 250);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(500, 500);
    }
}

.storycard:hover {
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0, 0.40);
    transition: 200ms ease-out;
    cursor: default;
}

.storycard:active:after {
    animation: ripple 2000ms ease-out;
}

.headline {
    font-size: 1.5em;
}

.date {
    float: right;
    text-align: right;
}